/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-main-color: #000028;
  --bg-accent-color: #ff0070;
  --font-color: #f1b2ce;
  --font-heder-color: #db00ff;
  --font-invers-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
}
