/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-main-color: #fff1f7;
    --bg-accent-color: #ff8dcb;
    --font-accent-color: #353430;
    --font-color: #353430;
    --font-heder-color: #ffc2e6;
    --font-invers-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
    .decorated-span{
        display: none;
    }
  }

  @media(prefers-color-scheme: light) {
    :root.theme-auto{
      --bg-main-color: #fff1f7;
      --bg-accent-color: #ff8dcb;
      --font-accent-color: #353430;
      --font-color: #353430;
      --font-heder-color: #ffc2e6;
      --font-invers-color: #353430;
      --bg-img: url(../images/cover-image-light.png);  
      background: green;
      .decorated-span{
        display: none;
      }
    }
  }

