/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-main-color: inherit;
  --bg-heder-color: inherit;
  --bg-accent-color: inherit;
  --font-color: inherit;
  --font-heder-color: inherit;
  --bg-img: url(../images/cover-image-light.png);
}