/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-main-color);
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 1.3;
  background-image: var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: min-content; /*?*/
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px;
}

.header{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.title {
  height: max(100vh, 668px);
  position: relative;
  padding: var(--padding-size) var(--padding-size);
}

.title::before {
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--bg-accent-color);
  border-inline-end: 1px solid var(--bg-accent-color);
  position: absolute;
  inset: var(--padding-size) var(--padding-size) auto auto;
}
.title::after {
  content: '';
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--bg-accent-color);
  border-inline-start: 1px solid var(--bg-accent-color);
  position: absolute;
  inset:  auto auto var(--padding-size) var(--padding-size);
}
.decorated-span{
  color:var(--bg-accent-color);
  position: absolute;
  inset: var(--padding-size) calc(25px + 3px) auto auto;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  block-size: 26px;
}
.decorated-span::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color:var(--bg-accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--bg-accent-color);
  position:relative;
  line-height: 25px;
  inset: -2px auto auto calc(((25px + 3px) - (9px + 2px))/2);
}
.title-text{
  color:var(--font-heder-color);
  text-shadow: 0.25rem 0.25rem var(--bg-accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
.title-text__small_shadow{
  text-shadow: 0.125rem 0.125rem var(--bg-accent-color);
}
.title-decor{
  background-color: var(--bg-accent-color);
  color: var(--font-invers-color);
  font-size: var(--font-size);
  font-weight:var(--font-weight-bold);
}
.title-decor__subtitle{
  font-weight:var(--font-weight);
}
.content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 50px;
}
.section{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 var(--padding-size);
}
.section_title{
  color: var(--bg-accent-color);
  font-weight:var(--font-weight-bold);
  font-size: var(--font-size);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card p a {
  text-decoration: none;
  text-shadow: 0.15em 0.15em var(--bg-accent-color);
  outline: none;
}
.card p a:hover {
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.card p a:focus {
  outline: none;
  text-decoration: none;
}

.card p a:focus-visible {
  outline: 1px solid var(--font-color);
  text-decoration: none;
}

.gallery {
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  gap: 10px;
  padding: 0 var(--padding-size);
}

.gallery_item {
  /*width: 100%;
  height: min-content;*/
  object-fit: cover;
  object-position: center;
}

.gallery_title{
  grid-area: gallery_title;
}
.gallery_item__sunset{
  grid-area: sunset;
}

.gallery_item__ice-cream{
  grid-area: ice-cream;
}

.gallery_item__tape{
  grid-area: tape;
}

.gallery_item__books {
  grid-area: books;
}
.gallery_item__street {
  grid-area: street;
}

.footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.footer .title-text{
  text-align: center;
}

@media(width > 768px){
  .page {
    gap: 60px;
  }
  .content{
    gap: 80px;
  }
  .section:nth-child(2n + 1){
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
  }

  .section:nth-child(2n + 1) .section_title{
    /*grid-row: 1 / -1;/* не работает:_(*/
    grid-row: 1 / sibling-count();
  }

  .gallery {
    grid-template-rows: min-content repeat(3, 1fr );
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      "gallery_title gallery_title gallery_title"
      "sunset sunset ice-cream"
      "tape   books ice-cream"
      "tape street street"
    ;/**/
  }
  .gallery_item {
    /*width:  ;
    height: fit-content;*/
    object-fit: cover;
    object-position: center;
  }
}

@media(width > 1024px){

}



