/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--page-gap);
  max-height: min-content; /*?*/
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.3;
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-main-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr; /*repeat(3, 1fr);*/
  align-items: center;
}

.header__theme-menu {
  justify-self: self-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--font-accent-color);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: 1;
  letter-spacing: 0;
  text-transform: lowercase;
  background: transparent;
  inline-size: max-content;
  inline-size: 70px;
  block-size: 26px;
}
.header__theme-menu-button_active {
  outline: 1px solid var(--font-accent-color);
  pointer-events: none;
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--font-accent-color);
}
.header__theme-menu-button:hover {
  outline: 0.5px solid var(--font-accent-color);
  cursor: pointer;
}
/*header__theme-menu-list
header__theme-menu-button :focus-visible
header__theme-menu-button_type_light
*/
.title {
  position: relative;
  height: max(100vh, 668px);
  padding: var(--padding-size);
}

.title::before {
  content: "";
  position: absolute;
  inset: var(--padding-size) var(--padding-size) auto auto;
  border-inline-end: 1px solid var(--font-accent-color);
  border-block-start: 1px solid var(--font-accent-color);
  inline-size: var(--saze-of-corner);
  block-size: var(--saze-of-corner);
}
.title::after {
  content: "";
  position: absolute;
  inset: auto auto var(--padding-size) var(--padding-size);
  border-inline-start: 1px solid var(--font-accent-color);
  border-block-end: 1px solid var(--font-accent-color);
  inline-size: var(--saze-of-corner);
  block-size: var(--saze-of-corner);
}
.decorated-span {
  position: absolute;
  inset: calc(var(--padding-size) - 1px)
    calc(var(--padding-size) + var(--saze-of-corner) - 5px) auto auto;
  color: var(--bg-accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  block-size: 26px;
}
.decorated-span::after {
  content: "";
  position: relative;
  inset: calc(-1 * var(--saze-of-point-shadow)) auto auto
    calc(
      (
          (var(--padding-size) + var(--saze-of-corner) - 5px) -
            (var(--saze-of-point) + var(--saze-of-point-shadow))
        ) / 2 + 1px
    );
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--saze-of-point-shadow) var(--bg-accent-color);
  line-height: 25px;
  background-color: var(--bg-accent-color);
  inline-size: var(--saze-of-point);
  block-size: var(--saze-of-point);
}
.title-text {
  color: var(--font-heder-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 0.25rem 0.25rem var(--bg-accent-color);
}
.title-text__small_shadow {
  text-shadow: 0.125rem 0.125rem var(--bg-accent-color);
}
.title-decor {
  color: var(--font-invers-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  background-color: var(--bg-accent-color);
}
.title-decor__subtitle {
  font-weight: var(--font-weight);
}
.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--content-gap);
}
.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 var(--padding-size);
}
.section_title {
  color: var(--font-accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card p a {
  outline: none;
  text-decoration: none;
  text-shadow: 0.12em 0.05em var(--bg-accent-color);
}
.card p a:hover {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.card p a:focus {
  outline: none;
  text-decoration: none;
}

.card p a:focus-visible {
  outline: 1px solid var(--font-color);
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: var(--padding-size);
  padding: 0 var(--padding-size);
}

.gallery_item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.footer .title-text {
  margin-left: 0;
  text-align: center;
}

@media (width >= 768px) {
  :root {
    --padding-size: 20px;
    --page-gap: 60px;
    --content-gap: 80px;
  }

  .title-text {
    margin-left: calc(-1 * var(--padding-size));
    font-size: clamp(7.5rem, 0.56rem + 14.45vw, 9.8125rem);
  }
  .section:nth-child(2n + 1) {
    grid-template-columns: 1fr 2fr;
  }

  .section:nth-child(2n + 1) .section_title {
    /*grid-row: 1 / -1;/* не работает:_(*/
    grid-row: 1 / sibling-count();
  }
  .section:nth-child(2n) .section_title {
    inline-size: min-content;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery > .title-decor {
    grid-column: 1 / -1;
  }
  .gallery_item:nth-of-type(5n + 1),
  .gallery_item:nth-of-type(5n) {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .gallery_item:nth-of-type(5n + 2),
  .gallery_item:nth-of-type(5n + 3) {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }
  .header p {
    margin-left: auto;
    inline-size: 50%;
  }
}

@media (width >= 1024px) {
  .section:nth-child(2n + 1) {
    column-gap: 10px; /*значение найдено через picsel-perfect */
  }
  .section:nth-child(2n) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .section:nth-child(2n) .card {
    grid-row: 2;
  }
  .section:nth-child(2n) .section_title {
    inline-size: auto;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
